@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
.cuerpo {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 800px;
  text-align: center;
  border: solid 1px #dd7171;
  padding-bottom: 10px;
  margin: auto;
  background: #dd7171;
  border-radius: 10%;
}
h2{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
input[type=button] {
  font-family: 'Roboto Mono', monospace;
    background-color: #f6bed6;
    border: none;
    color: #000;
    padding: 16px 32px;
    font-size: 16px;
    min-width: 21%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}
input[type=textfield] {
  font-family: 'Roboto Mono', monospace;
    width: 75%;
    padding: 16px 32px;
    font-size: 16px;
    margin: 8px 0;
    border: 1px solid #dd7171;
    border-radius: 1px;
    text-align: center;
    color: #000;
    background: #ffd5cd;
    border-radius: 5%;
}
.back-button {
  background-color: rgba(205,125,125,1); /* #0960C9 */
  color: #ccc;
  display: block;
  font-size: 1.2em;
  font-weight: Bold;
  height: 50px;
  margin: 32px auto;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 24%;
  }
  .back-button:hover {
  background-color: rgba(225,135,130,0.75);
  color: #fff;
  text-decoration: none;
  }